@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600;700&display=poppinsswap');

@property --main-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #10c9b9;
}

@property --back-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #10c9b9;
}

@property --trans-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #10c9b9;
}

body * {
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #f6f8fa;
    margin:0 auto;
}

.container{
    max-width: 1200px !important;
}

.container_body {
    margin-top: 70px;
    font-size: 19px;
    line-height: 32px;
}

section {
    margin: 80px 0px;
}

h2
{
    display:inline-block;
    color:var(--main-color) !important;
    font-weight: 600 !important;
    /*border-bottom:4px solid var(--main-color) !important;*/
    /*box-shadow: 0 25px 0 -23px #049dbf;*/
    border-bottom: 5px solid;
    border-image-slice: 3;
    border-image-source: linear-gradient(to right, var(--back-color) 50px, white 5px, white);
    margin-bottom:30px !important;
}

h3, h4 {
    color: var(--main-color) !important;
    font-weight: 400 !important;
    margin: 0px !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

.texto_gris {
    color: #8b857d !important;
}

.texto_azul {
    color: #1ca3c2 !important;
}

.border-left {
    border-left: var(--main-color) 3px solid;
    padding-left: 10px;
}

.border-topleft {
    border-left: var(--main-color) 5px solid;
    border-top: var(--main-color) 5px solid;

    padding-left: 50px !important;
    padding-top: 10px !important;

    margin-left: 12px;

}

.formato div:nth-child(1){
    border-right: var(--main-color) 3px solid;
    border-bottom: var(--main-color) 3px solid;
}

.formato div:nth-child(2){
    border-left: var(--main-color) 3px solid;
    border-bottom: var(--main-color) 3px solid;
}

.formato div:nth-child(3){
    border-right: var(--main-color) 3px solid;
    border-top: var(--main-color) 3px solid;
}

.formato div:nth-child(4){
    border-left: var(--main-color) 3px solid;
    border-top: var(--main-color) 3px solid;
}

/*--------------
CABEZERA
-----------------*/


#logo_principal {
    height: 60px;
    transition: 0.2s;
}

#logo_principal_mobility {
    height: 60px;
    transition: 0.2s;
}

#btn_menu {
    padding: 9px 12px;
    transition: 0.2s;
}

header {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
    transition: 0.2s;
}

hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    margin: 8px 0px;
}

#contenedor_header {
    max-width: 1200px;
    margin: auto;
    padding: 5px 0px;
}

.contenedor_img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.contenedor_img_main {
    height: 300px;
    border-radius: 10px;
}

.contenedor_img_100 {
    height: calc(500px - (1920px - 100vw) / 6);
    display: block;
    text-align: center;
    border-radius: 0px;
    max-height: 400px;
}

.contenedor_img img {
    object-fit: cover;
    margin: auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
}


.parallax {
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: repeat;
    background-size: calc(1920px - (1920px - 100vw) / 2); 
}


.img_index {
    background-image: url("../img/banners/banner_imrsc_turquesa_fade2.webp");
    background-position-y: calc(1800px - (1920px - 100vw) / 2);
}

.img_index:before {
    background: rgba(39,62,84,0.80);
    width:100%;
    height:100%;
    display:block;
}


.img_actividad {
    background-image: url("../img/banners/fondo_mobility_turquesa_fade2.webp");
    background-position-y: calc((1920px - (2120px - 100vw) / 2) + 500px);
    background-color: --main-color;
}


.nav {
    --bs-nav-link-color: var(--main-color) !important;
    --bs-nav-link-hover-color: #1ca3c2 !important;
    font-size: 20px;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--bs-nav-link-color) !important;
}

.nav img {
    height: 24px;
}

.texto_img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px #0f3b62;
}

.text-18 {
    font-size: 18px !important;
}

.text-16 {
    font-size: 16px !important;
}

.texto_img .text-14 {
    font-size: 14px;
}

.texto_img h1 {
    font-size: 36px;
}

#fondo_actividad_01 {
    background-image: url("../img/fondo_moblity.webp");
}

@media screen and (max-width: 1340px) {
    .container{
        max-width: 90% !important;
    }
}

@media screen and (max-width: 480px) {
    #logo_principal {
        margin-top: 10px;
        padding: 0px;
        max-height: 40px;
    }

    #logo_principal_mobility {
        margin-top: 10px;
        padding: 0px;
        max-height: 40px;
    }

    .contenedor_img_main {
        height: 230px;
    }

    .contenedor_img_100 {
        height: 250px;
    }

    .container_body {
        margin-top: 80px;
    }

    .texto_img_index h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 390px) {
    #logo_principal {
        max-height: 30px;
        margin-top: 15px;
        padding: 0px;
    }

    #logo_principal_mobility {
        max-height: 30px;
        margin-top: 15px;
        padding: 0px;
    }

    .contenedor_img_main {
        height: 100px;
    }

    .contenedor_img_100 {
        height: 250px;
    }

    .texto_img_index h1 {
        font-size: 18px;
    }
}

.btn-mobility {
    background-color: var(--main-color) !important;
    color: white !important;
    border-radius: 0px !important;
}

.btn-mobility svg{
    width: 20px;
    margin-right: 5px;
}

.card .btn-mobility {
    width: 80%;
}

.btn-mobility2 {
    background-color: rgba(15, 59, 98, 0.5) !important;
    color: white !important;
    border: 3px solid white !important;
    font-weight: bold !important;
    box-shadow: 2px 2px 5px #0f3b62;
    text-shadow: 0 0 0.3em #0f3b62, 0 0 0.3em #0f3b62;
    border-radius: 0px !important;
}

.sombra {
    border: 2px solid var(--trans-color) !important;
    box-shadow: -10px -10px 0px var(--trans-color) !important;
}

.btn-mobility3 {
    background-color: white !important;
    color: #0089a6 !important;
    border: 3px #0089a6 solid !important;
    font-weight: bold !important;
}

.dropdown-menu-ponencia {
    border-color: #0089a6 !important;
    border-width: 2px !important;
    font-size: 19px !important;
}

.bg-mobility {
    background-color: var(--main-color) !important;
    color: white !important;
}

.bg-mobility h3 {
    color: white !important;
}

.square {
    border-radius: 0px !important;
}

.carousel {
    height: 130px;
    overflow: hidden;
    z-index: -1;
}

.carousel-item {
    width: 70%;
    height: 90%;
}

.carousel-item a img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.carousel-inner {
    height: 100%;
}

#organiza img {
    object-fit: contain;
    width: 80%;
    max-height: 57%;
}

/* CARDS */

.card {
    border-radius: 0px !important;
}

.card-img-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.card-footer:last-child {
    border-radius: 0 0 15px 15px !important;
}

.card-title {
    color: var(--main-color) !important;
    margin: 40px !important;
}

.card-title h1 {
    letter-spacing: 3px;
    margin: 0px;
}

.card-title p {
    font-size: 16px;
}

.card-text {
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

.card-body {
    position: relative;
    min-height: 190px;
}

.card-body ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 18%;
}
  
.card-body li {
    list-style-type: none;
    margin: 6px;
    padding: 5px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: .8em;
    text-decoration: none;
    position: relative;
    font-weight: 500;
}

.card .btn {
    position: absolute;
    left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}


/* Exposicion */
.formato img {
    height: 200px;
}

.img_exposicion {
  width: 100%;
}


/*-----------
PIE / FOOTER
-----------*/


#prefooter {
    width: 100%;
}

#prefooter * {
    width: 100%;
}

path{
    width: 100%;
}

.footer-menu-map {
    background-color: var(--back-color);
    color: white;
}

.footer-menu-legal {
    background-color: #e6e9ea;
}

.footer-menu-legal a {
    color: #3d4245;
    text-decoration: none;
}

.footer-menu-legal a:hover {
    color: #0089A6;
}

.footer-menu-legal li {
    margin-right: 30px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}